<link rel="stylesheet" type="text/css" href="styles.css">
<nav class="nav_bar">
    <a class="nav_item" href="/">Home</a>
    <a class="nav_item" href="/weather">Weather</a>
    <a class="nav_item" href="/gallery">Gallery</a>
</nav>