<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="">
    <title>{{ title }}</title>
</head>

<body>
    {{> nav }}
    <div class="mainDiv">
        <h1>Hello! This is the Main page</h1>
        <p>Gallery Page will allow you to search images </p>
        <p>Weather Page will allow you to search weather of a location</p>
    </div>
</body>

</html>